
@media (max-width: 740px) {
  //html,
  // body,
  header,
  .view {
    height: 500px !important;
    background-attachment: scroll !important;

  }
}

header .view{
  height: 500px;
  background: url('../../assets/images/light-bulb-3535435_1920.jpg')no-repeat center center fixed;
  background-size: cover;

}


.top-nav-collapse {
  background-color: #78909c !important;

}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.errors{
  color: #35bbad;
  font-size: 12px;
  margin: 0 !important;
  padding: 0 !important;
}
