html,
body,
header,
.view {
  height: 100%;

}

@media (max-width: 740px) {
  //html,
  // body,
  header,
  .view {
    height: 500px !important;
    background-attachment: scroll !important;
  }
}

.placecardimage{

  background-size: cover;
}

header .view{
  background-attachment: fixed;
  background-position: center bottom !important;
  background-size: cover;
  height: 500px;
}

.navbar{

}

.top-nav-collapse {
  background-color: #78909c !important;

}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.card-image{
  background-size: cover;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 12px;
  line-height: 1.42857;

}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 25% 0;
  position: absolute;
  z-index: 1;
}

